<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
     <!-- 使用工厂方法创建 Bean： 配置实例工厂的 Bean -->
     <bean id="format" class="java.text.SimpleDateFormat">
        <constructor-arg value="yyyy-MM-dd"></constructor-arg>
     </bean>
     <!-- 通过实例工厂 Bean 的方法创建另外一个 Bean -->
     <bean id="date" factory-bean="format" factory-method="parse" >
        <constructor-arg value="2017-03-02"></constructor-arg>
     </bean>
     <!-- 使用通过工厂方法创建出来的 Bean  -->
     <bean id="book" class="com.rxx.spring.bean.Book" >
          <property name="bookId" value="1001"></property>
          <property name="bookName" value="JavaSE"></property>
          <property name="author" value="stt"></property>
          <property name="price" value="150"></property>
          <property name="date" ref="date"></property>
     </bean>
</beans>